body {
  margin: 30px;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
#header {
  width:100%;
  font-size: large;
  font-weight: bold;
}
ul {
  list-style: none;
}
#navbar {
  float:right;
  text-align: left;
}
a {
  color: grey;
}
.main-section header {
  color: black;
  font-size: large;
  font-weight: bold;
}
